body{
    background-image: url("../floor-tile.png");
}

.content {
    height: 100vh;
    max-width: 100vw;
}
.content > .col > .container{
    background-color: green;
    height:calc(100vh/2);
    max-width:calc(100vw/2);
}
#sidepanel{
    height:400px;
}

